@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

.div-contacto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    align-items: flex-start;
    justify-content: flex-start;
    background-image:linear-gradient(to right top, #0d6efd, #0084ff, #0097ff, #00a8ff, #00b8fb, #33c4f7, #54cef3, #72d8ef, #9ae2f0, #bcecf3, #ddf6f8, #fcffff); ;    
}

.contacto{
    font-family: 'Beau Rivage';
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-left: 45%;
    margin-top: 2%;
    text-shadow: 1px 1px 2px rgb(55, 0, 254), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);        
}

.masinfo{
    font-family: 'Beau Rivage';
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-left: 30%;
    margin-top: 2%;
    text-decoration-line: underline;
   
   
   

}

.tel{
    font-family: 'Beau Rivage';
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-left: 40%;
    margin-top: 0.5%; 
          
}

.whatsapp{
    font-family: 'Beau Rivage';
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-left: 40%;
    margin-top: 0.5%; 
            
}

.mensaje{
    font-family: 'Beau Rivage';
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-left: 42%;
    margin-top: 2%;
    text-decoration-line: underline;  
              
}

.email{
    font-family: 'Beau Rivage';
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-left: 40%; 
    margin-top: 0.5%; 
            
}
