@import '/proyecto-final-antokolec/src/component/Navbar/index.jsx';
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

.navbar{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-image: var(--bs-gradient);

}

.nav{   
    padding: 0;
    list-style: none;
    list-style-type: none;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;


   
   
   

}
.nav li{
    font-size: 25px;
    font-family: 'Beau Rivage';
    color: white;
    padding: 10px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;

}

.nav li a{
    text-decoration-line: none;
    color: white;
}

.nav li a:hover{
    color: black;
}

.nav li a:focus{
    color: black;
}

.cartwidgetnav{
    margin-right: 2%;
    
    
}

.icono{
    margin-left: 2%;
}