@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

.cartwidget-box{
    display: flex;
    flex-direction: row;
    padding: 0px;
    height: 50%;
    margin-right: 8%;
}

.cartwidget{
    width: 60px;
    height: 100%;
    
}

.cartquantity{
    font-family: 'Beau Rivage';
    color: white;
    font-size: 25px;
    font-weight: 600;
}