@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');


.box{
   display:inline-flex;
   flex-direction: column;
   border-style:solid;
   border-color: blue;
   height: 250px;
   width: 30%;
   padding: 0;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 2%;
   margin-bottom: 3%;
   -webkit-box-shadow: 0px 0px 4px 0px rgba(2, 2, 2, 0.75);
   -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 4px 0px rgba(3, 3, 253, 0.75);
   
   
         
}

.titulo{
    text-align: center;
    font-size: 35px;
    font-family: 'Beau Rivage';
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;

}

.imgitems{
    width: 250px;
    height: 250px;
    object-fit: contain;
    align-content: center;
    align-items: center;
    margin-left: 35%;
    margin-right: 2%;
}

.descripcion{
    font-family: 'Beau Rivage';
    font-size: 20px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.precio{
    font-family: 'Beau Rivage';
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
ItemCount{

    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}