@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

.box{
    display:flex;
    flex-direction:column;
    height: 300px;
    width: 100%;
    padding: 0;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}


.titulodetail{
    text-align: center;
    font-size: 50px;
    font-family: 'Beau Rivage';
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
}

.descripciondetail{
    font-family: 'Beau Rivage';
    font-size: 35px;
    text-align: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.preciodetail{
    font-family: 'Beau Rivage';
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.imagendetail{
    width: 400px;
    height: 400px;
    object-fit: contain;
    align-content: center;
    align-items: center;
    margin-left: 35%;
    margin-right: 2%;


}


ItemCount{
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}