@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');


.boxdetail{
    display:flex;
    flex-direction:column;
    height: 600px;
    width: 100%;
    padding: 0;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}


.titulodetail{
    text-align: center;
    font-size: 50px;
    font-family: 'Beau Rivage';
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
}

.descripciondetail{
    font-family: 'Beau Rivage';
    font-size: 30px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
                        
}

.preciodetail{
    font-family: 'Beau Rivage';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.imagendetail{
    width: 400px;
    height: 4000px;
    object-fit: contain;
    align-content: center;
    align-items: center;
    margin-left: 34%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 2%;


}


ItemCount{
   text-align: center;
   margin-left: 2%;
   margin-right: 2%;
}